$border-radius: 0.8rem;
$small-height: 1.8;
$large-height: 3;
$transition-duration: 0.3s;

.switch {
  padding: 0.2rem;
  border-radius: $border-radius;
  background-color: var(--eter);
  position: relative;

  display: block;
  line-height: $small-height;


  &.large {
    line-height: $large-height;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: 3;

    &:checked ~ span {
      .selector {
        right: 0;
      }
      .label.on {
        color: var(--eter);
      }
      .label.off {
        color: var(--sea);
      }
    }

    &:disabled ~ span {
      .selector {
        background-color: var(--blackish);
      }
      .label.on {
        color: var(--blackish);
      }
      .label.off {
        color: var(--eter);
      }
    }

    &:checked:disabled ~ span {
      .label.on {
        color: var(--eter);
      }
      .label.off {
        color: var(--blackish);
      }
    }
  }

  .labels {
    display: block;
    position: relative;
  }

  .label {
    cursor: pointer;
    display: inline-block;
    text-align: center;

    width: 50%;
    z-index: 2;
    user-select: none;
    position: relative;

    transition: color $transition-duration;

    &.on {
      color: var(--sea);
    }
    &.off {
      color: var(--eter);
    }
  }

  .selector {
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: $border-radius;
    background-color: var(--sea);
    top: 0;
    right: 50%;
    z-index: 1;

    transition: right $transition-duration;
  }
}