<h1>Tasks</h1>

<%=react_component('Button', props: {type: 'success', value: t('tasks.new'), target: new_task_path  })%>
<% @tasks.each do | task | %>
  <%= react_component("Card", 
    props: {
      title: task.name,
      body: task.description, 
      link: new_task_user_wizard_path(task_id: task.id),
      action1: t('tasks.assign_to')
    }, 
    class:'card',
    prerender: false)
   %> 
<% end %>