<h1><%= @task.name %></h1>
<p><%= @task.description %></p>
<%=react_component('Button', props: {type: 'success', value: t('tasks.edit'), target: edit_task_path(@task.id)  })%>
<%=react_component('Button', props: {type: 'success', value: t('tasks.delete'), target: task_path(@task.id), method: :delete  })%>