<h1><%= t('mailers.colony_application.approval.title', colony: @colony.name) %></h1>

<p><%= t('mailers.colony_application.approval.body') %></p>

<%= link_to colony_url(@colony) do %>
  <%= t('shared.go') %>
<% end %>