@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700');
.radiobutton {
    font-family: 'Raleway', sans-serif;
    color: rgb(128, 128, 128);
    background-color: #f2f2f2;
    display: inline-block;
    margin-top: 6px;
    margin-left: 3px;
    position: absolute;
    cursor: pointer;
    &:not(:first-child){
        margin-left: 15px;
    }   
    @media screen {
        display: block;
        float: none;
        &:not(:first-child) {
            margin-left: 0;
            margin-top: 25px;
        }
    }
    -webkit-user-select: none;
    user-select: none;
} 


label{
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding-left: 15px;
    height: 30px;
    z-index: 9;
    color: rgb(128, 128, 128);
    cursor: default;
    -webkit-transition: all 0.25s linear;
}

span {
    display: block;
    position: relative;
    white-space: nowrap;
    align-content: center;
}

input {
    display: none;
    opacity: 0;
    &:checked + svg {
        path {
            transition: all .4s ease;
            &.inner {
                stroke-dashoffset: 38;
                transition-delay: .3s;
            }
            &.outer {
                stroke-dashoffset: 0;
            }
        }
    }
}

svg {
    fill: none;
    vertical-align: -3px;
    circle {
        stroke-width: 2;
        stroke: #C8CCD4;
    }
    path {
        stroke: #69BFBA;
        &.inner {
            stroke-width: 6;
            stroke-dasharray: 19;
            stroke-dashoffset: 19;
        }
        &.outer {
            stroke-width: 2;
            stroke-dasharray: 57;
            stroke-dashoffset: 57;
        }
    }
}