.modal {
  padding: 50px;
  background-color: rgba(104,193,189, 0.9);
  border: 10px solid;
  border-color: #08C1BD;
}
.modal-inner {
  margin: auto;
  padding: 50px;
  z-index: 2;
  border-radius: 25px;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #dcdcdc;
  text-align: center;
}
.close-button {
  float: right;
  margin-top:10px; 
  margin-right:20px; 
  color: #dcdcdc;
  font-size: 28px;
}