.modal {
  background-color: rgba(104, 193, 189, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.modal-header {
  position: relative;
  z-index: 400;
  top: 19%;
  left: 81%;
}

.modal-inner { 
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 50px;
  z-index: 200;
  align-content: center;
  border-radius: 25px;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #dcdcdc;
  width: 60%;
  margin-top: 4em;
}

.close-button {
  cursor: pointer;
  color: #dcdcdc;
  font-size: 28px;
}