.modal {
  padding: 50px;
  background-color: #68C1BD;
  border: 3px solid;
  border-color: #08C1BD;
  vertical-align: middle; 
  text-align: center;
}
.modal-inner {
  padding: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #dcdcdc;
  vertical-align: middle; 
  text-align: center; 
}