$size: 64px;
$md-size: 128px;
$bg-size: 256px;

.avatar {
  border-radius: 50%;
  width: $size;
  height: $size;
  max-width: $size;
  max-height: $size;

  margin: 0 auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-clip: padding-box;
  background-color: #dce9b2;

  &.avatar-md {
    width: $md-size;
    height: $md-size;
    max-width: $md-size;
    max-height: $md-size;
  }

  &.avatar-bg {
    width: $bg-size;
    height: $bg-size;
    max-width: $bg-size;
    max-height: $bg-size;
  }

  &.avatar-full {
    width: 100%;
  }
}