.progressbar-sea{
	background: rgb(255, 255, 255);
	border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #F3F2F2;
}

.progressbar-sea[value]::-webkit-progress-bar{
    background-color: white;
    border-radius: 50px;
    padding: 1px;
}

.progressbar-sea[value]::-moz-progress-bar{
    background-color: #68C1BD;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
}

.progressbar-sea[value]::-webkit-progress-value{
    background-color: #68C1BD;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
}

.progressbar-sky{
	background: rgb(255, 255, 255);
	border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #F2F2F2;
}

.progressbar-sky[value]::-webkit-progress-bar{
    background-color: white;
    border-radius: 50px;
    padding: 1px;
}

.progressbar-sky[value]::-moz-progress-bar{
    background-color: #354093;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
}

.progressbar-sky[value]::-webkit-progress-value{
    background-color: #354093;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
}