.progressbar-green{
	background: rgb(255, 255, 255);
	border-radius: 50px;
    padding: 2px;
    -webkit-appearance: none;
    appearance: none;
}

.progressbar-green[value]::-webkit-progress-bar{
    background-color: white;
    border-radius: 50px;
    padding: 2px;
}

.progressbar-green[value]::-webkit-progress-value{
    background-color: rgb(108, 193, 188);
    border-radius: 50px;
}

.progressbar-blue{
	background: rgb(255, 255, 255);
	border-radius: 50px;
    padding: 2px;
    -webkit-appearance: none;
    appearance: none;
}

.progressbar-blue[value]::-webkit-progress-bar{
    background-color: white;
    border-radius: 50px;
    padding: 2px;
}

.progressbar-blue[value]::-webkit-progress-value{
    background-color: rgb(54, 67, 145);
    border-radius: 50px;
}