.card {
  border-radius: 15px !important;
  border: 3px solid var(--shadow) !important;
  padding: 1em;
  background-color: var(--eter);
  font-weight: bold;
  margin-bottom: 1em;
}

.card-header, .card-footer {
  background: none !important;
  border: none !important;
  color: var(--sky);
  padding-bottom: 0 !important;

  h2 {
    margin-bottom: 0 !important;
  }
}

.card-action {
  color: var(--sea);
}

.card-body {
  color: var(--dark);
  margin-top: 5px;
}

.card-footer {
  color: var(--sea);
  text-align: right;
}