.card-header {
  border-radius: 15px;
  border-width: 3px;
  border: 1px solid transparent;
  border-color: #f2f2f2;
  padding: 1em;
  background-color: #FFFFFF;
  color: #354093;
  font-weight: bold;
}

.card-body {
  color: #F2F2F2;
  font-weight: bold;
  margin-top: 5px;
}

.card-footer {
  color: #68C1BD;
  font-weight: bold;
  text-align: right;
}