<h1>Colonies</h1>
<div class="card-columns">
<% @colonies.each do | colony | %>
  <%= react_component("Card", props: {title: colony.name, link: colony_path(colony), image: 'colony_icon.png', footer: 'Manage'}, class:'card', prerender: false) %>
<% end %>
</div>