/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Zilla+Slab:400,600i,700');


/* PALETA */

:root {
  --sky: #354093;
  --heaven: #F7F2BF;
  --eter: #FAFAFA;
  --shadow: #F2F2F2;
  --fire: #E8654D;
  --sea: #68C1BD;
  --sun: #ECBB3B;
  --blackish: #9f9f9f;
}

/* FIN PALETA */

body {
	color: var(--sky);
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	overflow-x: hidden;
}

a:hover {
	text-decoration: none;
}

footer {
	bottom: 0px;
	padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 0.8em;
}

section {
	padding-top: 5em;
	padding-bottom: 5em;
}

.action-button {
	background: var(--fire);
	border: none;
  border-radius: 50px;
  color: var(--eter);
  cursor: pointer; /* mouse se convierte a mano */
  display: inline-block;
  font-size: 1.3em;
	margin-top: 1.5em;
	margin-bottom: 6em;
  padding: 0.5em;
  text-align: center;
  transition: all 0.5s ease; /* activamos animaciones */
  width: 60%;
}

.action-button:hover {
	background: var(--sky); /* animamos el color */
	color: var(--eter);
}

.animated {
	position: absolute;
}

.big-title {
	font-size: 1.6em;
}

.brand-logo {
	height: 8em;
	margin-bottom: -40%;
}

.breathe {
  display: block;
  height: 2em;
}

.card-pic {
	margin-bottom: 2em;
	margin-top: 2em;
}

.cat-avatar {
	padding: 2em;
	text-align: center;
}

.center {
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 70%;
}

.eter-section {
	background: var(--eter);
}

.flex-card {
	display: flex;
	flex-direction: column;
}

.flex-card-main {
	flex-grow: 1;
}

.flex-center {
	align-items: center;
}

.full-width {
  width: 100% !important;
}

.grey-section {
	background: var(--shadow);
}

.huge-title {
	font-size: 3em;
}

.humungous-title {
	font-size: 5em !important;
}

.landing-illustration {
	width: 50%;
}

.landing-illustration-mini {
	width: 25%;
}

.left-margin { /* HOJAS */
	pointer-events: none;
  position: fixed; /* paralax */
  left: -75px;
  top: 0%;
  width: 200px;
  z-index: 999; /* para que estén por encima de todo */
}

.manifest li {
	margin-bottom: 1em;
}

.medal {
	width: 50%;
}

.medium-title {
	font-size: 1.2em;
}

.min-spacing {
	margin-bottom: 0.1em;
}

.mini-icon {
	width: 1.5em;
}

.navbar-nav {
	align-items: center;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-variant-caps: all-petite-caps;
	font-size: 1.2em;
	font-weight: 600;
	justify-content: center;
	overflow-y: visible;
	padding: 1.5em;
	width: 100%;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
}

.orange {
	color: var(--fire);
	font-family: 'Zilla Slab', serif;
	font-size: 1.2em;
}

.orange-title {
	color: var(--fire);
	font-size: 1.8em;
}

.padding-top {
	padding-top: 3em;
}

.right-margin { /* HOJAS */
	pointer-events: none;
  position: fixed; /* paralax */
  right: -75px;
  top: 0%;
  width: 200px;
  z-index: 999; /* para que estén por encima de todo */
}

.spaced-bottom {
	margin-bottom: 3em;
}

.static {
  position: absolute;
	background: var(--eter);
}

.static-white {
  position: absolute;
	background: white;
}


.invisible {
	visibility: hidden;
}

.static:hover, .static-white:hover {
  opacity:0;
}

.video-container {
	width: 70%;
}


/* MEDIA QUERIES PARA LAS HOJAS */

@media only screen and (max-width: 950px) {

	body {
		font-size: 1em;
	}

	.action-button {
		font-size: 1em;
	}

	.card-pic {
		margin-bottom: 2em;
		margin-top: 2em;
		width: 80%;
	}

	.big-title {
		font-style: 1.2em;
	}

	.huge-title {
		font-size: 2em;
	}

	.humungous-title {
		font-size: 3.5em !important;
	}

	.landing-illustration-mini {
		width: 50%;
	}

	.landing-illustration {
    width: 100% !important;
  }

  .left-margin, .right-margin {
    width: 120px;
	}

	.medal {
		width: 30% !important;
	}

	.responsive-header {
		width: 100%;
	}

	section {
    padding-bottom: 4em;
    padding-top: 4em;
  }

	.video-container {
		width: 100%;
	}
}

@media only screen and (min-width: 951px) and (max-width: 1075px) {
  .left-margin, .right-margin {
    width: 150px;
  }
}

@media only screen and (min-width: 1076px) {
  .left-margin, .right-margin {
    width: 200px;
  }
}

/* FIN MEDIA QUERIES PARA LAS HOJAS */