<h1>Los miembros de la colonia</h1>
<div class="card-columns">
  <% @cats.each do |cat| %>
    <%= react_component("Card", props: {title: cat.name, link: cat_path(cat), image: cat.avatar, footer: 'Manage'}, class:'card', prerender: false) %>
  <% end %>
</div>
