<h1><%= t 'cats.index_title' %></h1>
<div class="d-flex justify-content-between mb-4">
  <p><%= t 'cats.index_intro' %></p>
  <!--%= react_component("Button", props: {type: 'success', value: t('cats.new'), target: new_cat_path}, prerender: false) %-->
</div>
<div class="card-columns">
  <% @cats.each do |cat| %>
    <%= react_component("Card", props: {title: cat.name, link: cat_path(cat), image: avatar_tag(cat), action1: t('shared.manage')}, class:'card', prerender: false) %>
  <% end %>
</div>