<section class="eter-section">
	<div class="container row flex-center">
		<div class="col-sm-12 col-md-6 medium-title">
			<p>
				<%= t 'landing.league.intro' %>
			</p>
			<p>
				<%= t 'landing.league.subtitle'%>
			</p>
		</div>
		<div class="col-sm-12 col-md-6 center">
			<img src="standard.svg" class="full-width">
		</div>
		<div class="card-columns">
			<% Cat.all.where(saved_state: 'active').each do |cat| %>
				<%= react_component("Card", props: {title: cat.name, link: cat_path(cat), image: avatar_tag(cat), footer: 'Manage'}, class:'card', prerender: false) %>
			<% end %>
		</div>
	</div>
</section>